.button-item {
  &.color-change {
    a {
      background-color: $color-white;
      @extend%trans2;
      color: rgba($color-primary, 1);
      &:hover {
        border-color: rgba($color-white, 1);
        color: $color-white;
        background-color: rgba($color-primary, 1);
      }
    }
  }
  a {
    display: block;
    padding: 10px 24px;
    border-radius: 3px;
    font-size: 12px;
    width: fit-content;
    color: $color-white;
    background-color: $color-primary;
    @extend%trans2;
    border: 1px solid $color-primary;
    &:hover {
      color: $color-primary;
      background-color: rgba($color-white, 1);
    }
  }
}
